.article{
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
}
.article_box1{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.article_img1{
    width: 500px;
}
.article_span{
    text-align: left;
    flex-direction: column;
    gap: 30px;
}
.article_title1{
    margin-bottom: 30px;
    color: #FFF;
    font-family: Open Sans;
font-weight: 700;
font-size: 40px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
width: 500px;
}
.article_text1{
    font-family: Open Sans;
    margin-bottom: 35px;
font-weight: 600;
font-size: 16px;
leading-trim: NONE;
line-height: 160%;
letter-spacing: 0%;
color: #ffffff9a;
}




@media (max-width: 1000px) {
    .article_box1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .article_img1{
        width: auto;
    }
    .article_title1{
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .article_text1{
        margin: 0 auto;
        width: 550px;
        text-align: center;
        margin-bottom: 25px;
    }
}