.hero{
    margin-top: 150px;
}
.hero_box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hero_spa1{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.hero_text1{
    color: #3A68B8;
    font-family: Open Sans;
font-weight: 600;
font-size: 18px;
leading-trim: NONE;
line-height: 160%;
letter-spacing: 0%;
text-transform: uppercase;
}
.hero_title1{
    color: #FFF;
    font-family: Open Sans;
font-weight: 800;
font-size: 55px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;

}
.hero_text2{
    color: #ffffffa3;
    font-family: Open Sans;
font-weight: 600;
font-size: 17px;
leading-trim: NONE;
line-height: 160%;
letter-spacing: 0%;
width: 530px;
}
.hero_bt{
    display: flex;
    gap: 20px;
}
.header_btn1{
    display: flex;
    gap: 5px;
    align-items: center;
}
.hero_img1{
    background: #3A68B8;
}
.hero_img2{
    width: 500px;
}
.hero_box2{
    display: flex;
    justify-content: space-between;
}
.hero_img3:hover{
    scale: 1.1;
}

@media (max-width: 1000px){
    .hero_box1{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .hero_text2{
         margin: 0 auto;
    }
    .hero_bt{
        justify-content: center;
    }
    .hero_img2{
        width: auto;
    }
    .hero_box2{
        display: flex;
        /* flex-direction: column; */
        gap: 45px;
        justify-content: center;
        flex-wrap: wrap;

    }
}