.header{
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    z-index: 1000;
    
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_link1{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 22.55px;
    line-height: 100%;
    letter-spacing: 0%;
}
.header_list{
    display: flex;
    gap: 25px;
  transition: all 0.3s ease;
}
.header_link2{
  position: relative;
  display: inline-block;
    color: #FFF;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}
.header_link2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: linear-gradient(50deg, #0e1001a4, #fa4903);
  transition: width 0.3s ease;
  border-radius: 2px;
}
.header_btn1{
  position: relative;
  display: inline-block;
  text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    background:#3A68B8 ;
    font-family: Open Sans;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFF;
}
.header_btn1::after{
    content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: linear-gradient(50deg, #0e1001a4, #fa4903);
  transition: width 0.3s ease;
  border-radius: 2px;
}
.header_btn1:hover::after {
  width: 100%;
}
.header_link2:hover {
  color: #08f7f7; 
}

.header_link2:hover::after {
  width: 100%;
}

.header_btn1:hover{
    color: #08f7f7;
    scale: 1.1;
}
.header_link2:focus-visible::after{
  transform: scaleX(1);
}

.burger {
  display: none;
   flex-direction: column;
   cursor: pointer;

}

.spanbur1{
    display: block;
  width: 45px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}
.spanbur2{
    display: block;
  width: 35px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
  
}
.spanbur3{
    display: block;
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
  
}
.hero_box2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
@media (max-width: 1000px) {
  .header_container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    gap: 50px;
  }

  .header_logo {
    justify-self: start;   
  }

  .header_btn1 {
    justify-self: center;  
  }

  .burger {
    display: flex;
    flex-direction:flex-end ;
    align-items:end;
    z-index: 1100;
    gap: 5px;
  }

  .header_list {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    flex-direction: column;
    background: #222;
    width: 250px;
    padding: 80px 20px;
    gap: 30px;
    transition: right 0.3s ease;
    z-index: 1000;
  }


}
