.footer{
    margin-top: 80px;
    margin-bottom: 80px;
}
.footer_list{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}
.footer_item{
    width: 265px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer_link1{
    display: flex;
    flex-direction: column;
    color: #3A68B8;
    font-family: Open Sans;
font-weight: 600;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}
.footer_img1{
    width: 40px;
    margin-bottom: 9px;
}
.footer_title1{
    font-family: Open Sans;
font-weight: 500;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #FFF;
margin-bottom: 20px;
}
.footer_text1{
    font-family: Open Sans;
font-weight: 450;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #ffffff91;
margin-bottom: 20px;
}
.footer_img2{
    width: 20px;
}
.footer_text2{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFF;
    font-family: Open Sans;
font-weight: 500;
font-size: 13px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
}
.footer_link3{
  position: relative;
  display: inline-block;
    font-family: Open Sans;
font-weight: 450;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #ffffff5a;
margin-top: 10px;
}
.footer_link3::after{
    content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: linear-gradient(50deg, #0e1001a4, #fa4903);
  transition: width 0.3s ease;
  border-radius: 2px;
}
.footer_link3:hover::after {
  width: 50%;
}
.footer_link3:hover{
    color: #08f7f7;
    scale: 1.1;
}
.footer_link4{
    font-family: Open Sans;
font-weight: 500;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #FFF;
}
.footer_span{
    display: flex;
    justify-content: left;
    gap: 25px;
}
.footer_link6{
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    font-family: Open Sans;
font-weight: 450;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}
.footer_img4{
    width: 15px;
}



@media (max-width: 1000px) {
    .footer_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 30px;
        gap: 50px;
        text-align: center;
    }
    .footer_img1{
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .footer_span{
        margin: 0 auto;
    }
    .footer_link6{
        margin: 0 auto;
        margin-top: 15px;
        
    }
}
